<!-- This is the dashboard for admin. -->
{% extends "base.html" %}
{% block title %}Cars - Simpler Rental{% endblock %}

{% block content %}


<div class="px-4 pt-1 my-1">
    <div class="border-bottom">
        <a class="btn btn-outline-dark px-4 my-1" href="/">Back</a>
        <h1 class="display-4 text-body-emphasis fw-bold mt-3">All cars!</h1>
        <p class="lead">Choose your favourate one and drive it away TODAY!</p>

    </div>



    <div class="container">
        <div class="row">
            {%for car in allCars%}
            <div class="col-sm-12 col-md-6 col-lg-4 my-3">
                <div class="card">
                    <img src="{{ url_for('static', filename='img/cars/' + car[0]|string + '.jpg') }}"
                        class="card-img-top" alt="carphoto">

                    <div class="card-body">
                        <h5 class="card-title"><strong>{{car[4]|string + ' ' + car[2] + ' ' + car[3]}}</strong></h5>
                        <p class="card-text">{{car[5]|string}} seats! Rego: {{car[1]}}</p>
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                            data-bs-target="#add-car{{car[0]|string}}">Details</button>

                        <div class="container w-50 m-auto">
                            <div class="modal fade" id="add-car{{car[0]|string}}" tabindex="-1" aria-labelledby="carTitle"
                                aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h1 class="modal-title fs-5" id="carTitle">{{car[4]|string + ' ' + car[2] +
                                                ' ' + car[3]}}</h1>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                        </div>
                                        <form method="POST" id="edit-form" class="needs-validation"
                                            novalidate>
                                            <div class="modal-body">
                                                <div class="row g-3">

                                                    <img src="{{ url_for('static', filename='img/cars/' + car[0]|string + '.jpg') }}"
                                                        class="card-img-top" alt="carphoto">

                                                    <div class="col-12">
                                                        <label for="rego" class="form-label">Rego</label>
                                                        <input type="text" class="form-control" id="rego" name="rego"
                                                            placeholder="Rego" pattern="[A-Z0-9]*" maxlength="6"
                                                            value="{{car[1]}}" required disabled>
                                                        <div class="invalid-feedback">
                                                            Invalid. Capitalised alphabets and numbers only.
                                                        </div>
                                                    </div>

                                                    <div class="col-sm-6">
                                                        <label for="year" class="form-label">Year</label>
                                                        <input type="text" class="form-control" id="year" name="year"
                                                            placeholder="Year" pattern="[0-9]*" maxlength="4"
                                                            value="{{car[4]}}" required disabled>
                                                        <div class="invalid-feedback">
                                                            Invalid. Numbers only.
                                                        </div>
                                                    </div>

                                                    <div class="col-sm-6">
                                                        <label for="brand" class="form-label">Manufacturer</label>
                                                        <input type="text" class="form-control" id="brand" name="brand"
                                                            placeholder="brand" pattern="[A-Za-z]*" value="{{car[2]}}"
                                                            maxlength="30" required disabled>
                                                        <div class="invalid-feedback">
                                                            Invalid. Alphabets only.
                                                        </div>
                                                    </div>

                                                    <div class="col-sm-6">
                                                        <label for="model" class="form-label">Model</label>
                                                        <input type="text" class="form-control" id="modal" name="modal"
                                                            value="{{car[3]}}" placeholder="Model"
                                                            pattern="[a-zA-Z0-9]+" maxlength="20" required disabled>
                                                        <div class="invalid-feedback">
                                                            Invalid.
                                                        </div>
                                                    </div>

                                                    <div class="col-sm-6">
                                                        <label for="seat" class="form-label">Seat</label>
                                                        <input type="text" class="form-control" id="seat" name="seat"
                                                            value="{{car[5]}}" placeholder="Seat" pattern="^[0-9]+$"
                                                            maxlength="2" required disabled>
                                                        <div class="invalid-feedback">
                                                            Invalid. Numbers Only.
                                                        </div>
                                                    </div>

                                                    <div class="col-sm-6">
                                                        <label for="price" class="form-label">Price</label>
                                                        <input type="text" class="form-control" id="price" name="price"
                                                            value="{{car[6]}}" placeholder="Price"
                                                            pattern="^\d+(\.\d{1,2})?$" maxlength="8" required disabled>
                                                        <div class="invalid-feedback">
                                                            Invalid. Numbers Only. May have 2 decimals.
                                                        </div>
                                                    </div>

                                                    <!-- <div class="col-sm-6">
                                                        <label for="carID" class="form-label">ID</label>
                                                        <input type="text" class="form-control" id="carID" name="carID"
                                                            value="{{car[0]}}" pattern="^[0-9]+$" placeholder="carID"
                                                             required disabled>
                                                        <div class="invalid-feedback">
                                                            Invalid. Numbers Only.
                                                        </div>
                                                    </div> -->

                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <!-- <button type="submit" class="btn btn-danger">Delete</button>
                                                <button type="submit" class="btn btn-warning">Update</button> -->
                                            </div>
                                        </form>


                                        <!-- <script>
                                            (() => {
                                                'use strict'

                                                // Fetch all the forms we want to apply custom Bootstrap validation styles to
                                                const forms = document.querySelectorAll('.needs-validation')

                                                // Loop over them and prevent submission
                                                Array.from(forms).forEach(form => {
                                                    form.addEventListener('submit', event => {
                                                        if (!form.checkValidity()) {
                                                            event.preventDefault()
                                                            event.stopPropagation()
                                                        }

                                                        form.classList.add('was-validated')
                                                    }, false)
                                                })
                                            })()
                                        </script>
                                        <script>
                                            // alert for successful edit
                                            var successMessage = "{{ get_flashed_messages(category_filter=['success'])[0] }}";
                                            if (successMessage) {
                                                alert(successMessage);
                                            }
                                        </script> -->

                                    </div>
                                </div>
                            </div>
                        </div>

                        <span class="position-absolute bottom-0 end-0 h5 mx-2 my-2"><strong><mark>{{car[6]|string}}
                                    NZD</mark></strong></span>
                    </div>
                </div>
            </div>
            {%endfor%}
        </div>
    </div>
</div>



{% endblock %}