<!-- This is the dashboard for admin. -->
{% extends "base.html" %}
{% block title %}Dashboard - Admin - Simpler Rental{% endblock %}

{% block content %}

<div class="px-4 pt-1 my-1">
    <div class="d-flex top-0 mb-2 pb-3 align-items-end">
        <h1 class="display-4 text-body-emphasis fw-bold">Hi {{username}}!</h1><span
            class="badge text-bg-dark">Customer</span>
    </div>
    <div class="border-bottom">
        <p class="lead">Choose your favourate one and drive it away TODAY!</p>

    </div>
    <div class="col-lg-12 my-2">


    </div>


    <div class='container'>
        <a class="btn btn-primary btn-lg px-4 my-2 mx-1" href="/carsList">Click here to explore our cars!</a>

        <div class="row featurette mt-3">
            <div class="col-md-7">
                <h2 class="featurette-heading fw-normal lh-1">Discover Freedom on the Road with Simpler</h2>
                <p class="lead">Dive into an unforgettable journey with our diverse fleet of rental cars. At Simpler,
                    we strive to offer you the most comfortable and convenient experience with our top-notch service and
                    high-quality vehicles. Rent a car today and embrace the freedom of the open road!</p>
            </div>
            <div class="col-md-5">
                <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto"
                    src="{{ url_for('static', filename='img/logo-nav.png') }}" >
                <title>Car</title>

                </img>
            </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7 order-md-2">
                <h2 class="featurette-heading fw-normal lh-1">Drive with Confidence: Comprehensive Insurance at Simpler
                </h2>
                <p class="lead">Experience peace of mind with our comprehensive insurance options. At Simpler, we're
                    dedicated not
                    just to provide you with a car but also the assurance you need when you're on the road. Our
                    insurance packages
                    are designed to cover potential risks, allowing you to focus on the joy of the journey. Drive with
                    confidence
                    with Simpler!</p>
            </div>
            <div class="col-md-5 order-md-1">
                <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto"
                    src="{{ url_for('static', filename='img/cars/2.jpg') }}" height="500">
                <title>Car</title>

                </img>
            </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading fw-normal lh-1">Simpler: Wide Range of Vehicles at Your Fingertips</h2>
                <p class="lead">Welcome to Simpler! We're not just a car rental company, we're your dependable travel
                    companion.
                    We boast a diverse selection of vehicles, ranging from compact cars for city breaks to spacious SUVs
                    for family
                    adventures. Whatever your requirements, we have a car to match. With Simpler, car rental is, as the
                    name suggests,
                    simpler!</p>
            </div>
            <div class="col-md-5">
                <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto"
                    src="{{ url_for('static', filename='img/cars/6.jpg') }}" height="500">
                <title>Car</title>

                </img>
            </div>
        </div>

    </div>

</div>

{% endblock %}