<!-- This is the dashboard for admin. -->
{% extends "base.html" %}
{% block title %}Staff - Simpler Rental{% endblock %}
{% block staff_active %}active{% endblock %}
{% block content %}

<div class="px-4 pt-1 my-2">
    <div class="border-bottom">
        <a class="btn btn-outline-dark px-4 my-1" href="/">Back</a>
        <h1 class="display-4 text-body-emphasis fw-bold mt-3">Manage staff</h1>
        <p class="lead"></p>

    </div>



    <div class="container">
        <div class="col-lg-6">
            <!-- Add a new staff function modal -->

            <button type="button" class="btn btn-warning px-4 my-3" data-bs-toggle="modal"
                data-bs-target="#staffAdd">Add
                a new staff</button>
            <div class="container w-50 m-auto">
                <div class="modal fade" id="staffAdd" tabindex="-1" aria-labelledby="carTitle" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="customerAddTitle">Add a new staff</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <form method="POST" action="/staff" id="newCustomer-form" class="needs-validation"
                                novalidate>
                                <div class="modal-body">
                                    <div class="row g-3">

                                        <div class="col-sm-6">
                                            <label for="userName" class="form-label">Username</label>
                                            <input type="text" class="form-control" id="userName" name="userName"
                                                placeholder="Username" pattern="^[a-zA-Z0-9]*$" maxlength="20" required>
                                            <div class="invalid-feedback">
                                                Invalid. Alphabets and numbers only. max 20 characters.
                                            </div>
                                        </div>

                                        <div class="col-sm-6">
                                            <label for="password" class="form-label">Password</label>
                                            <input type="password" class="form-control" id="userPassword"
                                                name="userPassword" placeholder="Password"
                                                pattern="^(?=.*[A-Z])(?=.*[a-zA-Z0-9]).{8,}$" maxlength="30" required>
                                            <div class="invalid-feedback">
                                                Alphabets and numbers only. Must have one capitalised
                                                character. Minimum 8 characters.
                                            </div>
                                        </div>

                                        <div class="col-12">
                                            <label for="email" class="form-label">Email</label>
                                            <input type="email" class="form-control" id="userEmail" name="userEmail"
                                                placeholder="email@example.co.nz"
                                                pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}" maxlength="255"
                                                required>
                                            <div class="invalid-feedback">
                                                Invalid.
                                            </div>
                                        </div>

                                        <div class="col-sm-6">
                                            <label for="realName" class="form-label">Your name</label>
                                            <input type="text" class="form-control" id="realName" name="realName"
                                                placeholder="Your name" pattern="[a-zA-Z]+" maxlength="20" required>
                                            <div class="invalid-feedback">
                                                Invalid. Alphabets only. max 20 characters.
                                            </div>
                                        </div>

                                        <div class="col-sm-6">
                                            <label for="phoneNumber" class="form-label">Phone Number</label>
                                            <input type="text" class="form-control" id="phoneNumber" name="phoneNumber"
                                                placeholder="Phone Number" pattern="^[0-9]+$" maxlength="12" required>
                                            <div class="invalid-feedback">
                                                Invalid. Numbers Only.
                                            </div>
                                        </div>

                                        <div class="col-12">
                                            <label for="userAddress" class="form-label">Address</label>
                                            <input type="text" class="form-control" id="userAddress" name="userAddress"
                                                placeholder="Address" maxlength="100" required>
                                            <div class="invalid-feedback">
                                                Invalid.
                                            </div>
                                        </div>



                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary"
                                        data-bs-dismiss="modal">Close</button>
                                    <button type="submit" class="btn btn-warning">Sign Up!</button>
                                </div>
                            </form>



                        </div>
                    </div>
                </div>
            </div>
            <table class="table table-striped table-bordered border-100 table-responsive my-2">

                <thead>
                    <tr>
                        <th>UserID</th>
                        <th>Username</th>
                        <th>Name</th>
                    </tr>
                </thead>
                <tbody class="table-group-divider">
                    {% for member in staffInfo %}
                    {% if member[1] != 1 %}
                    <tr>
                        {% for entry in member %}
                        {% if loop.index0 == 0 %}
                        <td>{{entry}}</td>
                        {% elif loop.index0 == 2 %}
                        <td>{{entry}}</td>
                        {% elif loop.index0 == 5 %}
                        <td><u><b>{{entry}}</b></u></td>
                        <td><button type="button" class="btn btn-dark"
                                data-bs-toggle="modal" data-bs-target="#edit-member-{{ member[0] }}">
                                Edit
                            </button>
                            <!-- Edit members page -->
                            <div class="modal fade" id="edit-member-{{ member[0] }}" tabindex="-1"
                                aria-labelledby="member-name" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h1 class="modal-title fs-5" id="member-name">{{member[2]}}</h1>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                        </div>
                                        <form method="POST" action="/staff" id="edit-form" class="needs-validation"
                                            novalidate>
                                            <div class="modal-body">
                                                <div class="row g-3">

                                                    <div class="col-12">
                                                        <label for="realNameExisting" class="form-label">Your
                                                            Name</label>
                                                        
                                                        <input type="text" class="form-control" id="realNameExisting"
                                                            name="realNameExisting" placeholder="Name"
                                                            value="{{member[5]}}" maxlength="80">

                                                        
                                                        <div class="invalid-feedback">
                                                            Invalid.
                                                        </div>
                                                    </div>

                                                    <div class="col-sm-6">
                                                        <label for="userNameExisting"
                                                            class="form-label">Username</label>
                                                        
                                                        <input type="text" class="form-control" id="userNameExisting"
                                                            name="userNameExisting" value="{{member[2]}}"
                                                            pattern="^[a-zA-Z0-9]*$" maxlength="20" disabled>
                                                        
                                                        <div class="invalid-feedback">
                                                            Invalid. Alphabets and numbers only. max 20 characters.
                                                        </div>
                                                    </div>

                                                    <div class="col-sm-6">
                                                        <label for="userPasswordExisting"
                                                            class="form-label">Password</label>
                                                        
                                                        <input type="password" class="form-control"
                                                            id="userPasswordExisting" name="userPasswordExisting"
                                                            pattern="^(?=.*[A-Z])(?=.*[a-zA-Z0-9]).{8,}$"
                                                            maxlength="30">
                                                        
                                                        <div class="invalid-feedback">
                                                            Alphabets and numbers only. Must have one capitalised
                                                            character. Minimum 8 characters.
                                                        </div>
                                                    </div>

                                                    <div class="col-sm-6">
                                                        <label for="emailExisting" class="form-label">Email</label>
                                                        
                                                        <input type="email" class="form-control" id="userEmailExisting"
                                                            name="userEmailExisting" placeholder="email@example.co.nz"
                                                            value="{{member[6]}}"
                                                            pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}"
                                                            maxlength="255">
                                                       
                                                        <div class="invalid-feedback">
                                                            Invalid.
                                                        </div>
                                                    </div>

                                                    <div class="col-sm-6">
                                                        <label for="phoneNumberExisting" class="form-label">Phone
                                                            Number</label>
                                                        
                                                        <input type="text" class="form-control" id="phoneNumberExisting"
                                                            name="phoneNumberExisting" placeholder="Phone Number"
                                                            value="{{member[7]}}" pattern="^[0-9]+$" maxlength="12">
                                                        
                                                        <div class="invalid-feedback">
                                                            Invalid. Numbers Only.
                                                        </div>
                                                    </div>


                                                    <div class="col-12">
                                                        <label for="userAddressExisting"
                                                            class="form-label">Address</label>
                                                       
                                                        <input type="text" class="form-control" id="userAddressExisting"
                                                            name="userAddressExisting" placeholder="Address"
                                                            value="{{member[8]}}" maxlength="100">
                                                       
                                                        <div class="invalid-feedback">
                                                            Invalid.
                                                        </div>
                                                    </div>

                                                    <div class="col-sm-6">
                                                        <label for="userIDExisting" class="form-label">UserID</label>
                                                        <input type="text" class="form-control" id="userIDExisting"
                                                            name="userIDExisting" value="{{member[0]}}" maxlength="20"
                                                            readonly>
                                                    </div>



                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button name="action" value="delete"
                                                    type="submit" class="btn btn-danger">Delete</button>
                                                <button name="action" value="submit" type="submit"
                                                    class="btn btn-warning">Update</button>
                                            </div>
                                        </form>
                                        

                                    </div>
                                </div>
                            </div>
                        </td>

                        {% endif %}

                        {% endfor %}
                    </tr>
                    {%endif%}
                    {% endfor %}

                </tbody>
            </table>
        </div>
    </div>
</div>
<script>
        (() => {
            'use strict'

            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            const forms = document.querySelectorAll('.needs-validation')

            // Loop over them and prevent submission
            Array.from(forms).forEach(form => {
                form.addEventListener('submit', event => {
                    if (!form.checkValidity()) {
                        event.preventDefault()
                        event.stopPropagation()
                    }

                    form.classList.add('was-validated')
                }, false)
            })
        })()
</script>
<script>
    // alert for successful edit
    var successMessage = "{{ get_flashed_messages(category_filter=['success'])[0] }}";
    if (successMessage) {
        alert(successMessage);
    }
</script>


{% endblock %}